EsencialesXAMLSlider/bin/Debug
EsencialesXAMLSlider/bin/Release
EsencialesXAMLSlider/obj/Debug
EsencialesXAMLSlider/obj/Release
.vs/EsencialesXAMLSlider
EsencialesXAMLSlider/bin/EsencialesXAMLSlider.dll
EsencialesXAMLSlider/bin/EsencialesXAMLSlider.dll.config
EsencialesXAMLSlider/bin/EsencialesXAMLSlider.pdb
EsencialesXAMLSlider/obj
EsencialesXAMLSlider/tmp
